*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }

  header{
    background-color: aqua;
    height: 60px;
    line-height: 60px;
  }

  .menu{
    text-align: center;
  }

  #logo{
    vertical-align: middle;
  }

  nav{
    display: inline-block;
    margin: 0 100px;
  }
  
  nav ul li {
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li a{
    text-decoration: none;
    padding: 10px;
  }

  .h-spacing{
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .button-white{
    background-color: white;
    color: black;
    padding: 9px;
    border-radius: 40px;
  }

  .button-black{
    background-color: black;
    color: white;
    padding: 9px;
    border-radius: 40px;
  }

  .button-blue{
    background-color: rgb(43, 125, 197);
    color: white;
    padding: 9px;
    border-radius: 40px;
  }

  .first{
    height: 50vh;
    background-image: url("../images/jumbo.png");
    background-size: cover;
    background-position: center;  
    position: relative;  
  }
  
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .spacing{
    width: 80%;
    margin: auto;
  }

  .wave-1{
    color: rgb(216, 212, 212);
    transform: translateY(4px);
  }

  .wave-1b{
    color: white;
    transform: translateY(4px);
  }

  .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }

  h2,
  h3{
    margin-bottom: 15px;
  }

  .text{
    padding: 40px;
  }

  .grey{
    background-color: rgb(216, 212, 212);
  }

  .big-s{
    text-align: center;
  }

  .low-spacing{
    margin-bottom: 50px;
  }

  footer{
    background-color: blueviolet;
  }

  .big-c{
    width: 25%;
  }

  .small-c{
    width: 18%;
  }

  ul {
    list-style-type: none;
  }

  .small-c ul li a{
    text-decoration: none;
  }

  .small-c ul li{
    margin-bottom: 8px;
  }

  hr{
    color: blue;
    margin: 30px 0;
  }

  .footer-measures{
    padding: 40px 0;
  }
