*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }

  header{
    background-color: aqua;
    height: 60px;
  }

  .menu{
    text-align: center;
  }

  nav{
    display: inline-block;
    margin: 0 100px;
    line-height: 60px;
    vertical-align: middle;
  }
  
  nav ul li {
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li a{
    text-decoration: none;
    padding: 10px;
  }

  .accesso{
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
  }

  .first{
    height: 50vh;
    background-image: url("../images/jumbo.png");
    background-size: cover;
    background-position: center;  
    position: relative;  
  }

  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    width: 100%;
  }

  .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }

